*.[oa]
*.lo
*.la
*.exe
.vagrant
Makefile
**/.deps/*
src/libwaei/.deps/*
src/libwaei/.libs/*
src/gwaei/.libs/*
src/waei/.libs/*
src/gwaei/.deps/*
src/waei/.deps/*
*.gmo
*.rpm
*.deb
*.tar.gz
*.swp
*.Po
doxyfile
.libs
gwaei.desktop
src/gwaei/gwaei
src/waei/waei
vgdump
mingw32-config.cache
documentation
*~

libtool

mandir/Makefile

stamp-h1
autom4te.cache
Makefile
config.*
.config/
config.log
intltool-extract.in
intltool-merge.in
intltool-update.in
po/.intltool-merge-cache
m4
m4/*
config.h
Doxyfile

deb/DEBIAN/control
deb/DEBIAN/postinst
deb/DEBIAN/prerm

src/gwaei/help/C/gwaei.xml
src/gwaei/help/Makefile
src/gwaei/help/gwaei-C.omf
src/gwaei/help/gwaei.omf

po/Makefile
po/Makefile.in
po/en@boldquot.insert-header
po/en@quot.insert-header
po/en@boldquot.po
po/en@quot.po
po/en@boldquot.po~
po/en@quot.po~
po/POTFILES
po/gwaei.pot

po/remove-potcdate.sed
po/Makevars.template
po/stamp-it
po/messages.po

rpm/gwaei.spec
rpm/rpm_gconf_install_post.sh
rpm/rpm_gconf_uninstall_pre.sh
rpm/BUILD
rpm/fedora/SPECS/gwaei.spec

src/gwaei/gwaei
src/waei/waei
src/Makefile
src/desktop/Makefile
src/gwaei/desktop/gwaei.desktop
src/img/Makefile
src/kpengine/Makefile
src/schemas/Makefile
src/xml/Makefile
src/kpengine/jdata.dat
src/kpengine/kpengine
src/kpengine/.deps/*

documentation/*

src/include/gwaei/definitions.h

Makefile.in
aclocal.m4
help/Makefile.in
mandir/Makefile.in
src/Makefile.in
src/gwaei/ui/Makefile.in
src/gwaei/ui/*.glade
src/kpengine/Makefile.in
src/schemas/Makefile.in
src/schemas/org.gnome.*.valid
src/schemas/gschemas.compiled
html
xml

configure
gnome-doc-utils.make
compile
depcomp

*tar.gz
*tar.xz
INSTALL
install-sh
missing
ChangeLog
ltmain.sh
mkinstalldirs

src/libwaei/tests/parenthesisnode
src/libwaei/tests/querynode

*.stamp
docs/reference/libwaei/libwaei*
docs/reference/dictionary/libwaei*

testcachefile
testio
testmappedfile
testparenthesisnode
testparsed
testprogress
testquerynodecolumnmatchinfo
testquerynodematchinfo
testquerynodematchmarker
testutf8
testparsedline
testquerynode
testdictionarymodule

*.bak
